.homehome{
    height: 100vh;
    width: 65vw;
    .logo1{
        width: 95%;
        margin: 1em 3em;
     }
     .down{
       width: 15%;
       margin: -6em;
     }

     iframe{
        margin: 3em 1em 3em 1em;
    }

    p{
        font-size: 1.3em;
        color: rgb(201, 137, 0);
        margin:2em 4em 3em 4em;
    line-height: 70px;
    }
}



